div#universe {
  display: block;
  height: 100%;
  margin: 0;
  background: radial-gradient(
    ellipse at center,
    #1d001d 0%,
    #0e000e 30%,
    #000000 70%
  );
}

@media only screen and (max-width: 1000px) {
  div#universe {
    display: block;
    background: radial-gradient(
      circle at center,
      #1d001d 0%,
      #0e000e 30%,
      #000000 70%
    );
  }
}

div.dot {
  display: block;
  position: absolute;
  color: #ff9eff;
}

div#ra {
  top: 50%;
  color: white;
  font-family: "MS PGothic";
  text-align: center;
  white-space: nowrap;
  font-size: 48px;
  font-weight: bold;
  margin-top: -24px;
  width: 100%;
  animation: neon 900ms ease-in-out infinite alternate;
  position: absolute;
  word-break: keep-all;
}

h1#link a {
  position: absolute;
  color: white;
  font-size: 72px;
  font-family: "Segoe UI";
  width: 100%;
  text-decoration: none;
  bottom: 10%;
  text-align: center;
}

div.number {
  writing-mode: vertical-rl;
  font-size: 24px;
  color: #008f11;
  font-family: "Courier New", Courier, monospace;
  text-orientation: upright;
  font-weight: bold;
  position: absolute;
  top: 0px;
  animation: updown 1000ms infinite;
}

div#wormhole {
  width: 100%;
  top: 15px;
  align-content: center;
  height: 100%;
  position: absolute;
}

div#wormhole img {
  height: 320px;
  width: 320px;
  transform: scale(0, 0);
}

a#skip {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background: black;
  border-radius: 20px;
  text-decoration: none;
  border: solid #1d001d;
}

/*animation keyframes*/
@keyframes neon {
  0% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  }
  12% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1.5),
      0 0 20px rgba(10, 175, 230, 1);
  }
  18% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),
      0 0 20px rgba(10, 175, 230, 0.2);
  }
  25% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 0.9),
      0 0 20px rgba(10, 175, 230, 0.3);
  }
  35% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 0.8),
      0 0 20px rgba(10, 175, 230, 0.1);
  }
  42% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1.2),
      0 0 20px rgba(10, 175, 230, 0);
  }
  50% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1.6),
      0 0 20px rgba(10, 175, 230, 1);
  }
  100% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1.6),
      0 0 20px rgba(10, 175, 230, 1);
  }
}

@keyframes twinkle {
  50% {
    transform: scale(0.3);
    opacity: 0.3;
  }
}

@keyframes updown {
  50% {
    transform: translate(0, 4px);
  }
}

@keyframes growing {
  from {
    transform: rotate(0deg);

    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.8;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
