div#wrapper {
  top: 0px;
  width: 100%;
  left: 0px;

  position: absolute;
  background: #121212;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  align-content: stretch;
}

div#panel {
  background: #121212;
  height: calc(100vh - 20px);
  width: 25%;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  z-index:10;
  display: flex;
  position: fixed; 
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;

}

a {
  text-decoration: none;
}

img#pp {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5px orangered;
  border-radius: 50%;
}

img#pp:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px orangered;
}

div#content {
  margin-left: calc(25% + 10px);
  padding: 2%;
  padding-bottom: 0px;
  background: #121212;
}

div#content p#heading {
  font-weight: bolder;
  font-size: 36px;
}

div#truck,
div#toolbox {
  display: flex;
  flex-wrap:wrap;
}

div#truck
{
  flex-direction: column;
  justify-content: space-between;

}

div#toolbox {
  flex-direction: row;
  justify-content: space-between;
}

div#box {
  text-align: left;
  box-shadow: 0px 0px 10px #1200004e;
  padding: 1.5em;
  padding-top: 0;
  border-radius: 5px;
  background: #181818;
  margin-bottom: 1em;
  margin-top: 1em;

  width: calc(100% - 2em);
}

div#box p#heading {
  font-size: 16px;
}

div#box p#heading:before {
  content: "> ";
  color: white;
  font-family: 'Courier New', Courier, monospace;

}

div#box p#heading:after {
  content: " ();";
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

div#box p#disc {
  font-size: 16px;
  color: #fa8072  ;
  text-shadow: 0px 0px 2px black;
}


div#box a:visited,
div#box a:link {
  color: #ffb9b1;
  font-size: 18px;
  text-shadow: 0px 0px 2px black;
}



@keyframes lock {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

div#skills img {
  width: 50px;
}

div#self, div#content {
  color: #e2e2e2;
  text-shadow: 0px 0px 5px black;
  line-height: 1.5em;
}

div#content div#intro li {
  list-style-type: none;
  margin-left: 70px;
  text-shadow: 0px 0px 20px black;

}

div#content div#intro {
  font-size: 1.5em;
  line-height: 1.8em;
  margin-left: 50px;
  padding-bottom: 20px;
}

div#content li span.bullet {
  text-shadow: 0px 0px 5px whitesmoke;
}

div#content {}


div#panel h1 {
  color: white;
  text-shadow: 0px 0px 10px black;
  text-align: center;
  font-weight: 900;
}

table,
th,
td {
  vertical-align: middle;
  border: none;
  padding: 7px;
  color: #e2e2e2;
  text-shadow: 0px 0px 5px black;
}

table {
  width: 100%;
}
table a:visited {
  color: deepskyblue;
}
table a:link {
  color: deepskyblue;
}
table a:hover {
  text-decoration: underline;
}
th img {
  width: 25px;
}

div#content {
  width: 75%;
}

hr {
  border: none;
  border-bottom: 1px solid lightgray;
}


div#links img:hover {
  opacity: 0.8;
}

font#tagline {
  font-size: 16px;
}


div#links table {
  margin-top: 5%;
}

h1#headiers{
  color:#fff;
  font-size: 36px;
  text-shadow:0px 0px 10px black;
  margin-bottom: 20px;
}
div.skillset {
  padding: 10px;
}
div.skillset font.skilltype{
  color:#B75CE4;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}



font#ip_add {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #00ee31;
}

#hello_emoji {
  background-image: url(../assets/hello_emoji.svg);
  width: 64px;
  height:64px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(black 5px 5px 10px);
  animation-name: wave-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}


@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  } /* The following four values can be played with to make the waving more or less extreme */
  40% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.full_scale {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}


div.skillset li {
  list-style-type: none;
  color:#D4B0D2;
  font-size: 1.2em;
  line-height: 1.5em;
}

div.background table th{
  text-align: left;
  font-size: 1.5em;
  opacity: 1;
  text-shadow: 0px 0px 10px black;
}

div.background table td{
  padding: 0px;
  padding-left:20px;
  font-size: 1.2em;
  opacity: 1;
  text-shadow: 0px 0px 10px black;
}

div.background table td#date{
  text-align: right;
  ;
}


div.background table.exp th {
  color:#338fec;
}

div.background table.exp td {
  color:#86bbf0;
}

div.background table.exp td#date {
  color: #4a7cbe;
}


div.background table.edu th {
  color:#00ad57;
}

div.background table.edu td {
  color:#90ee90;
}

div.background table.edu td#date {
  color: #2e8b57;
}



::-webkit-scrollbar{
  width:0
}

div#scrollPath {
  position: fixed;
  top:0;
  right:0;
  width:5px;
  height:100%;
  background: rgba(0,0,0,0.05);
}

div#progressBar {
  position: fixed;
  top:0;
  right:0;
  width:5px;
  height:0%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate-scroll 5s linear infinite;
}

@keyframes animate-scroll {
  0%,100% {
    filter:hue-rotate(0deg)
  }  
  50% {
    filter:hue-rotate(360deg)
  }
}


#progressBar:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

div#footer {
  z-index:10;
  width: 100%;
  bottom: 0px;
  padding: 20px;
  margin-left: -2%;
  font-size: 2em;
  text-align: center;
  box-shadow: 0px 0px 10px red;
}

@media only screen and (max-width: 1000px) {
  div#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    box-shadow: none;
  }

.full_scale {
  min-height: 0vh;
  display: block;
}

  div#panel,
  div#content {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    position: relative;
    padding-bottom: 0px;
    margin:0; 
  }
  img#pp {
    width: 300px;
    height: 300px;
  }
  div#self {
    margin-left: 10%;
    margin-right: 10%;
    font-size: xx-large;
  }
  div#self h1 {
    font-size: 84px;
  }
  div#links td {
    font-size: 48px;
  }
  div#links img {
    padding:20px ;
    width: 100px;
  }

  div#box{
    margin-bottom: 1.5em;
    margin-top:1.5em;
    box-shadow: 0px 0px 10px #1200004e;
  }
  div#box p#heading {
    font-size: 3em;
    line-height: 1.5em;
  }
  div#box p#heading a{
    font-size: 0.75em;
    line-height: 1.5em;
  }

  div#box p#disc {
    font-size: 2em;
    line-height: 1.5em;
  }
  div#box p#disc a {
    font-size: 1em;
    line-height: 1.5em;
  }
  div#box img {
    width: 300px;
  }
  h1#headiers {
    font-size: 4em;
    line-height: 1em;
  }
  div#content div#intro {
    font-size: 3em;
  }

  div.background table th{
    font-size: 2.5em;
  }

  div.background table td{
    font-size: 2em;
  }
  div.skillset font.skilltype {
    font-size: 2.5em;
  }

  div.skillset li{
    font-size: 2em;
  }

  div#footer {
    font-size: 4em;
    padding-bottom:1em;
    padding-top:1em;
    margin-right:1%;
  }
  
}
