div#wrapper {
  top: 0px;
  width: 100%;
  left: 0px;

  position: absolute;
  background: #121212;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

div#panel {
  background: #121212;
  min-height: 100vh;
  width: 22%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  box-shadow: 0px 0px 10px black;
  z-index:10;
}

a {
  text-decoration: none;
}

img#pp {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5px orangered;
  border-radius: 50%;
}

img#pp:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px orangered;
}

div#content {
  padding: 2%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #00000006;
}

div#content p#heading {
  font-weight: bolder;
  font-size: 36px;
}

div#truck,
div#toolbox {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

div#truck
{
  flex-direction: column;
}

div#toolbox {
  flex-direction: row;
}

div#box {
  text-align: left;
  border: 2px solid #0000001e;
  padding: 5px;
  border-radius: 5px;
  background: #181818;
  margin: 10px;
  width: calc(100% - 20px);
}

div#box p#heading {
  font-size: 16px;
}

div#box p#heading:before {
  content: "> ";
  color: white;
  font-family: 'Courier New', Courier, monospace;

}

div#box p#heading:after {
  content: " ();";
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

div#box p#disc {
  font-size: 16px;
  color: #fa8072ab;
  text-shadow: 0px 0px 2px black;
}


div#box a:visited,
div#box a:link {
  color: #fd9b90;
  font-size: 18px;
  text-shadow: 0px 0px 2px black;
}



@keyframes lock {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

div#skills img {
  width: 50px;
}

div#self {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e2e2e2;
  text-shadow: 0px 0px 5px black;
  line-height: 1.5em;
}

div#self li {
  list-style-type: none;
}

div#self li span.bullet {
  text-shadow: 0px 0px 3px whitesmoke;
}


div#panel h1 {
  color: white;
  text-shadow: 0px 0px 10px black;
  text-align: center;
}

table,
th,
td {
  vertical-align: middle;
  border: none;
  padding: 7px;
  color: #e2e2e2;
  text-shadow: 0px 0px 5px black;
}

table {
  width: 100%;
}
table a:visited {
  color: deepskyblue;
}
table a:link {
  color: deepskyblue;
}
table a:hover {
  text-decoration: underline;
}
th img {
  width: 25px;
}

div#content {
  width: 75%;
}

hr {
  border: none;
  border-bottom: 1px solid lightgray;
}

table#proj_header img {
  width: 80px;
}

div#links img:hover {
  opacity: 0.8;
}

font#tagline {
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  div#wrapper {
    display: block;
  }
  div#panel,
  div#content {
    width: 100%;
    min-height: 0;
  }
  img#pp {
    width: 300px;
    height: 300px;
  }
  div#self {
    margin-left: 10%;
    margin-right: 10%;
    font-size: xx-large;
  }
  div#self h1 {
    font-size: 84px;
  }
  div#links td {
    font-size: 36px;
  }
  div#links img {
    width: 50px;
  }

  table#proj_header p#heading {
    font-size: 72px;
  }

  font#tagline {
    font-size: 24px;
  }

  div#skills img {
    width: 80px;
  }

  table#proj_header img {
    width: 120px;
    height: 120px;
  }

  div#circle {
    padding: 50px;
    margin: 20px;
  }

  div#box {
    padding: 50px;
    padding-top: 30px;
    margin: 25px;
    width: 100%;
  }

  div#box p#heading {
    font-size: 36px;
  }

  div#box p#disc {
    font-size: 24px;
  }

  div#box img {
    width: 300px;
  }
}

div#links table {
  margin-top: 5%;
}

h1#skills{
  color:#B75CE4ab;
  font-size: 36px;
  text-shadow:0px 0px 10px black
}
